
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top" >
  <div class="container-fluid my-2" id="navbar-container">
    <a class="navbar-brand" href="#">SmartRetail</a>
    <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <!-- Sidebar Header -->
      <div class="offcanvas-header text-white border-bottom align-items-center">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">SmartRetail</h5>
        <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 pe-3">
          <li class="nav-item white-border">
            <a class="nav-link active" aria-current="page" [routerLink]="['/']">Home</a>
          </li>
        </ul>

        <!-- User Actions (Cart, Wishlist, Profile) -->
        <ul class="navbar-nav">

          <!-- Wishlist Icon -->
          <li class="nav-item white-border" *ngIf="isLoggedin">
            <a class="nav-link active" [routerLink]="['/wishlist']">
              <i class="bi bi-heart h5"></i> Wishlist
            </a>
          </li>

          <!-- Cart Icon -->
          <li class="nav-item white-border" *ngIf="isLoggedin">
            <a class="nav-link active" [routerLink]="['/cart']">
              <i class="bi bi-cart3 h5"></i> Cart
            </a>
          </li>

          <li class="nav-item dropdown white-border" *ngIf="!isLoggedin">
            <a class="nav-link active dropdown-toggle" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Profile
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
              <li><a class="dropdown-item" href="#" [routerLink]="['/login']">Login / Register</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown white-border" *ngIf="isLoggedin">
            <a class="nav-link active dropdown-toggle" id="accountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle"></i> {{userName}}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountDropdown">
              <li><a class="dropdown-item " href="#" [routerLink]="['/profile']">My Profile</a></li>
              <div class="dropdown-divider"></div>
              <li><a class="dropdown-item" href="#" (click)="OnLogout()">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="container my-5">
    <div class="row">
        <!-- Product Image -->
        <div class="col-md-6">
            <img [src]="product.imageUrl" alt="Product Image" class="product-image">
        </div>

        <!-- Product Details -->
        <div class="col-md-6">
            <h2 class="fw-bold">{{product.name}}</h2>
            <p class="text-muted">{{categoryname}}</p>
            <div class="text-primary">
              <span class="fs-4">{{product.price | currency : 'INR'}}</span>
              <span class="text-danger text-decoration-line-through mx-2">
                MRP: {{(product.price * 1.1 ) | currency : 'INR'}}
              </span>
            </div>

            <div class="mt-3 d-flex align-items-center">
              <span class="fs-5">Quantity:</span>
              <select class="form-select mx-2 quantity-dropdown" style="width: 70px;" id="quantity-dropdown" [(ngModel)]="quantity">
                  <option *ngFor="let quantity of getRange(1, product.quantity)" [value]="quantity" [selected]="quantity === 1">{{ quantity }}</option>
              </select>
            </div>
          

            <p class="mt-4">
              {{product.description}}
            </p>

            <button class="btn btn-primary btn-lg" (click)="addToCart()">Add to Cart</button>
            <button class="btn btn-outline-secondary btn-lg mx-lg-3 my-md-3" (click)="toggleWishlist()" *ngIf="!isInWishlist">Add to Wishlist</button>
            <button class="btn btn-outline-danger btn-lg mx-lg-3 my-md-3" (click)="toggleWishlist()" *ngIf="isInWishlist">Remove from Wishlist</button>
        </div>
    </div>

    <div class="top-space faq-container">
      <div class="col-12">
          <h3>Frequently Asked Questions</h3>
          <div class="accordion mt-3" id="faqAccordion">
              <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          What is the return policy?
                      </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                      <div class="accordion-body">
                          You can return most items within 30 days of receipt for a full refund. Terms and conditions apply.
                      </div>
                  </div>
              </div>
              <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                      <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          How long does shipping take?
                      </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
                      <div class="accordion-body">
                          Shipping typically takes 5-7 business days. Expedited shipping options are also available.
                      </div>
                  </div>
              </div>
              <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                      <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Do you offer international shipping?
                      </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
                      <div class="accordion-body">
                          Yes, we ship to most countries worldwide. Shipping fees and delivery times vary by location.
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  

    <!-- Reviews Section -->
    <div class="top-space" >
        <div class="col-12">

          <h3>Reviews and Ratings</h3>
          <!-- {{reviews | json}} -->
          
          <div class="d-flex align-items-center mb-4" *ngIf="reviews.length!=0">
            <div class="rating me-2">
              
              <span *ngFor="let _ of [].constructor(avg_rating)">&#9733;</span>
              <span *ngFor="let _ of [].constructor(5 - avg_rating)">&#9734;</span>
            </div>
            
            <p class="mb-0">{{avg_rating}} out of 5 stars ({{reviews.length}} reviews)</p>
            
        </div>
        <div *ngIf="reviews.length==0" class="h5" >
          
          No Reviews Found!! Be the first one to review 😊

        </div>
       
        <div class="reviews-container" *ngIf="reviews.length!=0">
            <!-- Review Item -->
            
            <div class="review" *ngFor="let review of reviews">
               
                <p class="review-author">{{review.customername}}</p>
                <p class="review-date">{{review.reviewDate| date:'dd MMM, yyyy'}}</p>
                <div class="review-rating mb-2">
                    <span *ngFor="let _ of [].constructor(review.rating)">&#9733;</span>
                    <span *ngFor="let _ of [].constructor(5 - review.rating)">&#9734;</span>
                </div>
                <p class="review-text">
                  {{review.comment}}
                </p>
            </div>
        </div>
                
                <button class="btn btn-outline-primary mt-3" *ngIf="isOrdered" (click)="toggleReviewForm()">
                  {{ isReviewFormVisible ? 'Cancel' : 'Review this product' }}
                </button>

            <!-- Add Review Form -->
            <div 
              id="addReviewForm"
              class="my-3"
              [ngClass]="{'d-none': !isReviewFormVisible, 'd-block': isReviewFormVisible}"
            >
              <h5>Add Your Review</h5>
              <form (ngSubmit)="submitReview()">
                <div class="mb-3">
                  <label for="rating" class="form-label">Your Rating</label>
                  <div class="star-rating">
                    <i class="bi" *ngFor="let star of [1, 2, 3, 4, 5]" 
                       [ngClass]="{ 'bi-star': star > review.rating, 'bi-star-fill': star <= review.rating}"
                       (click)="setRating(star)">
                    </i>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="reviewText" class="form-label">Your Review</label>
                  <textarea class="form-control" id="reviewText" rows="3" [(ngModel)]="review.comment" name="reviewText" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit Review</button>
              </form>
            </div>
        </div>
    </div>

  <!-- Product Suggestions -->
  <div class="card top-space">
    <div class="card-header bg-primary">
      <h5 class="suggest-title text-white">You May Also Like</h5>
    </div>

    <div class="card-body bg-white">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4" *ngFor="let recommended of recommendedProducts">
          <div class="card product-card h-100">
            <div class="product-image-container text-center p-3">
              <a [routerLink]="['/product', recommended.productID]">
                <img [src]="recommended.imageUrl" alt="{{ product.name }}" class="card-img-top img-fluid" />
              </a>
            </div>
            <div class="card-body rounded-bottom">
              <h5 class="card-title">{{ recommended.name }}</h5>
              <div class="card-text">{{recommended.price | currency : 'INR'}} 
                <br/>
                <span class="text-danger text-decoration-line-through">MRP: {{recommended.price * 1.1 | currency : 'INR'}}</span>
              </div>
  
              <!-- Button and Wishlist Icon (Wrapped together) -->
              <div class="d-flex justify-content-between align-items-center">
                <a class="btn btn-primary w-100" [routerLink]="['/product', recommended.productID]" target="_blank">View Product</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
</div>

</div>

<!-- Toast Notification -->
<div *ngIf="showToast" class="toast-notification">
  <p>{{ toastMessage }}</p>
</div>

<!-- Footer -->
<footer class="footer bg-dark text-white py-3 text-center">
  <p class="mb-0">&copy; {{curYear}} SmartRetail. All rights reserved.</p>
</footer>
