
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top" >
  <div class="container-fluid my-2" id="navbar-container">
    <a class="navbar-brand" href="#">SmartRetail</a>
    <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <!-- Sidebar Header -->
      <div class="offcanvas-header text-white border-bottom align-items-center">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">SmartRetail</h5>
        <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 pe-3">
          <li class="nav-item white-border">
            <a class="nav-link active" aria-current="page" [routerLink]="['/']">Home</a>
          </li>
        </ul>

        <!-- User Actions (Cart, Wishlist, Profile) -->
        <ul class="navbar-nav">

          <!-- Wishlist Icon -->
          <li class="nav-item white-border" *ngIf="isLoggedin">
            <a class="nav-link active" [routerLink]="['/wishlist']">
              <i class="bi bi-heart h5"></i> Wishlist
            </a>
          </li>

          <!-- Cart Icon -->
          <li class="nav-item white-border" *ngIf="isLoggedin">
            <a class="nav-link active" [routerLink]="['/cart']">
              <i class="bi bi-cart-fill h5"></i> Cart
            </a>
          </li>

          <li class="nav-item dropdown white-border" *ngIf="!isLoggedin">
            <a class="nav-link active dropdown-toggle" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Profile
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
              <li><a class="dropdown-item" href="#" [routerLink]="['/login']">Login / Register</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown white-border" *ngIf="isLoggedin">
            <a class="nav-link active dropdown-toggle" id="accountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle"></i> {{username}}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountDropdown">
              <li><a class="dropdown-item " href="#" [routerLink]="['/profile']">My Profile</a></li>
              <div class="dropdown-divider"></div>
              <li><a class="dropdown-item" href="#" (click)="OnLogout()">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>


<!-- <p>{{products$ | async}}</p> -->
<div class="container mx-auto mt-5">
  <div class="row">
    <div class="col-lg-8 col-12">
      <div class="card">
        <div class="links-container d-flex justify-content-between text-white p-3 bg-primary rounded-top">
          <a [routerLink]="['/']" class="p-2 text-white white-border text-uppercase text-decoration-none fw-semibold" style="font-size: 1.1rem;" (click)="clearcart()"><i class="bi bi-trash3"></i> Clear Cart</a>
          <a [routerLink]="['/wishlist']" class="p-2 text-white white-border text-uppercase text-decoration-none fw-semibold" style="font-size: 1.1rem;"><i class="bi bi-bookmark"></i>Pick from Wishlist</a>
        </div>
        <div class="card-body bg-white">
          <div *ngIf="cartItems.length==0" class="no-address">
            No Products Found In Cart
          </div>
          <div class="product-box mb-3" *ngFor="let item of cartItems">
            <button class="remove-btn" (click)="removeProduct(item.cartID)">
              <i class="fas fa-times"></i>
            </button>
            <div class="row">
              <div class="col-md-3 col-sm-4">
                <img [src]="getProduct(item.productID).imageUrl" alt="{{ getProduct(item.productID).name }}" class="img-fluid rounded product-image">
              </div>
              <div class="col-md-9 col-sm-8">
                <p class="product-name">{{ getProduct(item.productID).name }}</p>
                <div class="product-description">
                  <span *ngIf="!item.showFullDescription">{{ getProduct(item.productID).description | slice:0:60 }}...</span>
                  <span *ngIf="item.showFullDescription">{{ getProduct(item.productID).description }}</span>
                  <a href="#" class="show-more" (click)="toggleDescription(item, $event)" style="font-size: 0.8em;">
                    {{ item.showFullDescription ? 'show less' : 'show more' }}
                  </a>
                </div>
                <br/>
                <div class="mb-3">
                  <div class="input-group mb-2 col-xs-12 col-sm-">
                    <button type="button" class="btn btn-outline-secondary" [disabled]="item.productQuantity==1" (click)="decrementQuantity(item.cartID)">-</button>
                    <input class="form-control shadow-none text-center" type="text" [(ngModel)]="item.productQuantity" min="0" readonly>
                    <button type="button" class="btn btn-outline-secondary" [disabled]="item.productQuantity==getProduct(item.productID).quantity" (click)="incrementQuantity(item.cartID)">+</button>
                  </div>
                  <span class="quantity-left mt-3" *ngIf="getProduct(item.productID).quantity!=0">{{getProduct(item.productID).quantity}} left</span>
                  <span class="quantity-left mt-3" *ngIf="getProduct(item.productID).quantity==0">Out of Stock</span>
                </div>
                <div class="product-price">
                  <span>{{ getProduct(item.productID).price | currency : 'INR' }}</span>
                  <span class="original-price">₹{{getProduct(item.productID).price * 1.1 | number : '1.2-2'}}</span>
                  <span class="discount">10% OFF</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div [routerLink]="['/']" class="continue-shopping-link text-center text-white rounded-bottom p-2">
          Continue Shopping
        </div>
      </div>
    </div>

    <!-- Right Frame: Payment Details -->
    <div class="col-lg-4 col-12">
      <div class="card">
        <div class="card-header bg-primary">
          <h3>Payment Details <span >({{cartItems.length}} items)</span></h3>
        </div>
        <div class="card-body bg-white">
          <div class="d-flex justify-content-between" >
            <span>Total MRP:</span>
            <span>{{ (totalMRP * 1.1)  | currency :'INR' }}</span>
          </div>
          <div class="d-flex justify-content-between">
            <span>Discount on MRP:</span>
            <span>-{{ (totalMRP * 0.1) | currency :'INR' }}</span>
          </div>
          <div class="d-flex justify-content-between">
            <span>Tax Amount:</span>
            <span>{{ (totalMRP * 0.15) | currency :'INR' }}</span>
          </div>
          <div class="d-flex justify-content-between">
            <span>Shipping Fee:</span>
            <span>{{ (totalMRP >0) ? ((totalMRP >= 1000 ? 25 : 70) | currency :'INR') : 0 | currency :'INR'}}</span>
          </div>
          <hr>
          <div class="d-flex justify-content-between" >
            <h4>Total Price:</h4>
            <h4>{{ getTotalAmount() | currency :'INR' }}</h4>
          </div>
          <button class="btn btn-secondary btn-block" [disabled]="cartItems.length==0" (click)="placeorder()">Place Order</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Product Suggestions -->
<div class="container-fluid" style="margin-top: 100px;">
  <div class="card">
    <div class="card-header bg-primary">
      <h5 class="suggest-title text-white">You May Also Like</h5>
    </div>

    

    <div class="card-body bg-white">
      <div class="d-flex justify-content-center mt-3 flex-wrap">
        <button class="btn btn-category" (click)="filterByCategory(0)">All</button>
        <button class="btn btn-category" *ngFor="let category of filteredCategories" (click)="filterByCategory(category.categoryID)">{{category.name}}</button>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4" *ngFor="let product of filteredProducts">
          <div class="card product-card h-100">
            <div class="product-image-container text-center p-3">
              <a [routerLink]="['/product', product.productID]">
                <img [src]="product.imageUrl" alt="{{ product.name }}" class="card-img-top img-fluid" />
              </a>
            </div>
            <div class="card-body rounded-bottom">
              <h5 class="card-title">{{ product.name }}</h5>
              <div class="card-text">{{product.price | currency : 'INR'}} 
                <br/>
                <span class="text-danger text-decoration-line-through">MRP: {{product.price * 1.1 | currency : 'INR'}}</span>
              </div>
  
              <!-- Button and Wishlist Icon (Wrapped together) -->
              <div class="d-flex justify-content-between align-items-center">
                <button class="btn btn-primary w-100" (click)="addToCart(product)" >Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="footer bg-dark text-white mt-3 py-3 text-center">
  <p class="mb-0">&copy; {{curYear}} SmartRetail. All rights reserved.</p>
</footer>

<!-- Include Font Awesome for icons -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
