

<div class="form-container" id="form-container">
    <div class="toggle-buttons">
        <button class="btn btn-primary" id="loginToggle" (click)="LoginToggle()">Login</button>
        <button class="btn btn-outline-secondary" id="signupToggle" (click)="SignupToggle()">Signup</button>
    </div>

    <div id="loginForm" class="form-content active">
        <div class="welcome-msg my-5">
            <h2>Welcome Back!</h2>
            <h2 style="margin-top: -5px;">Login to your account</h2>
            
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
            <div class="mb-3 form-group">
                <label for="loginEmail" class="form-label w-100">
                    Email address
                    <span class="text-danger">*</span>
                </label>
                <input 
                    type="email" 
                    [ngClass]="{ 'is-invalid': login_submitted && f_login['email'].errors }" 
                    class="form-control" 
                    id="loginEmail"
                    formControlName="email"
                    placeholder="Enter your email"
                />
                <div *ngIf="login_submitted && f_login['email'].errors" class="invalid-feedback">
                    <div *ngIf="f_login['email'].errors['required']">Email is required</div>
                    <div *ngIf="f_login['email'].errors['email']">Email is invalid</div>
                </div>
            </div>
            
            <div class="mb-3 form-group">
                <label for="loginPassword" class="form-label">
                    Password
                    <span class="text-danger">*</span>
                </label>
                <input 
                    type="password" 
                    [ngClass]="{ 'is-invalid': login_submitted && f_login['password'].errors }" 
                    class="form-control" 
                    formControlName="password"
                    id="loginPassword"
                    placeholder="Enter your password"
                >
                <i class="fa-regular fa-eye-slash" id="toggleLoginPassword" (click)="ViewLoginPassword()"></i>
                <div *ngIf="login_submitted && f_login['password'].errors" class="invalid-feedback">
                    <div *ngIf="f_login['password'].errors['required']">Password is required</div>
                    <div *ngIf="f_login['password'].errors['minlength']">
                        Password must have atleast 8 characters
                    </div>
                    <div *ngIf="f_login['password'].errors['pattern']">
                        Password must contain atleast one uppercase letter, one lowercase letter, one number and a special character
                    </div>
                    <div *ngIf="f_login['password'].errors['maxlength']">
                        Password can have atmost 20 characters
                    </div>
                </div>
            </div>
            <div class="form-group mb-5">
                <span class="text-danger">*</span> denotes the mandatory fields
            </div>
            <div class="row mt-5 w-100 mx-auto mb-3">
                <button 
                    type="submit" 
                    class="btn btn-success"
                >LOGIN</button>
            </div>
            <div class="d-flex justify-content-between text-center pl-2 pr-2">
                <div>
                    <input type="checkbox" class="form-check-input">
                    <label style="margin-left: 5px;">Remember me</label>
                </div>
                <div>
                    <a href="#" id="forgotPassword">Forgot your password?</a>
                </div>
            </div>
        </form>
    </div>

    <!-- <div *ngIf="showToast" class="toast-notification">
        <p>{{ toastMessage }}</p>
      </div> -->
    
    <div id="signupForm" class="form-content">
        <div class="welcome-msg text-center">
            <h2>Create an account</h2>
        </div>
        <form [formGroup]="signupForm" (ngSubmit)="onSignupSubmit()">
            <div class="mb-3 form-group">
                <label for="signupfirstName" class="form-label">
                    First Name
                    <span class="text-danger">*</span>
                </label>
                <input 
                    type="text" 
                    [ngClass]="{'is-invalid': signup_submitted && f_signup['firstName'].errors}" 
                    class="form-control" 
                    formControlName="firstName"
                    id="signupfirstName" 
                    placeholder="Enter your first name"
                />
                <div *ngIf="signup_submitted && f_signup['firstName'].errors" class="invalid-feedback">
                    <div *ngIf="f_signup['firstName'].errors['required']">First name is required</div>
                </div>
            </div>
            <div class="mb-3 form-group">
                <label for="signuplastName" class="form-label">
                    Last Name
                    <span class="text-danger">*</span>
                </label>
                <input 
                    type="text" 
                    [ngClass]="{'is-invalid': signup_submitted && f_signup['lastName'].errors}" 
                    class="form-control" 
                    formControlName="lastName"
                    id="signuplastName" 
                    placeholder="Enter your last name"
                />
                <div *ngIf="signup_submitted && f_signup['lastName'].errors" class="invalid-feedback">
                    <div *ngIf="f_signup['lastName'].errors['required']">Last name is required</div>
                </div>
            </div>
            <div class="mb-3 form-group">
                <label for="signupEmail" class="form-label">
                    Email address
                    <span class="text-danger">*</span>
                </label>
                <input 
                    type="email" 
                    [ngClass]="{ 'is-invalid': signup_submitted && f_signup['email'].errors }" 
                    class="form-control" 
                    id="signupEmail" 
                    formControlName="email" 
                    placeholder="Enter your email"
                />
                <div *ngIf="signup_submitted && f_signup['email'].errors" class="invalid-feedback">
                    <div *ngIf="f_signup['email'].errors['required']">Email is required</div>
                    <div *ngIf="f_signup['email'].errors['email']">Email is invalid</div>
                </div>
            </div>

            <div class="mb-3 form-group">
                <label for="signupPassword" class="form-label">
                    Password
                    <span class="text-danger">*</span>
                </label>
                <input 
                    type="password" 
                    [ngClass]="{ 'is-invalid': signup_submitted && f_signup['password'].errors }" 
                    class="form-control" 
                    id="signupPassword" 
                    formControlName="password" 
                    placeholder="Create a password"
                />
                <i class="fa-regular fa-eye-slash" id="toggleSignupPassword" (click)="ViewSignupPassword()"></i>
                <div *ngIf="signup_submitted && f_signup['password'].errors" class="invalid-feedback">
                    <div *ngIf="f_signup['password'].errors['required']">Password is required</div>
                    <div *ngIf="f_signup['password'].errors['minlength']">
                        Password must have atleast 8 characters
                    </div>
                    <div *ngIf="f_signup['password'].errors['pattern']">
                        Password must contain atleast one uppercase letter, one lowercase letter, one number and a special character
                    </div>
                    <div *ngIf="f_signup['password'].errors['maxlength']">
                        Password can have atmost 20 characters
                    </div>
                </div>
            </div>

            <div class="mb-3 form-group">
                <label for="signupPassword" class="form-label">
                    Confirm Password
                    <span class="text-danger">*</span>
                </label>
                <input 
                    type="password" 
                    [ngClass]="{ 'is-invalid': signup_submitted && f_signup['confirmPassword'].errors }" 
                    class="form-control" 
                    id="signupConfirmPassword" 
                    formControlName="confirmPassword" 
                    placeholder="Re-enter your password"
                />
                <i class="fa-regular fa-eye-slash" id="toggleConfirmPassword" (click)="ViewConfirmPassword()"></i>
                <div *ngIf="signup_submitted && f_signup['confirmPassword'].errors" class="invalid-feedback">
                    <div *ngIf="f_signup['confirmPassword'].errors['required']">Confirm password is required</div>
                    <div *ngIf="f_signup['confirmPassword'].errors['matching']">
                        Confirm password does not match
                    </div>
                </div>
            </div>



            <div class="mb-3 form-group">
                <label for="signupPhonenumber" class="form-label">
                    Phone Number
                    <span class="text-danger">*</span>
                </label>
                <input 
                    type="text" 
                    [ngClass]="{ 'is-invalid': signup_submitted && f_signup['phonenumber'].errors }" 
                    class="form-control" 
                    id="signupPhonenumber" 
                    formControlName="phonenumber" 
                    placeholder="Enter Phone Number"
                />
                
                <div *ngIf="signup_submitted && f_signup['phonenumber'].errors" class="invalid-feedback">
                    <div *ngIf="f_signup['phonenumber'].errors['required']">PhoneNumber is required</div>
                    
                    <div *ngIf="f_signup['phonenumber'].errors['pattern']">
                        Phonenumber must contain 10 digits
                    </div>
                    
                </div>
            </div>



            <div class="form-group mb-5">
                <span class="text-danger">*</span> denotes the mandatory fields
            </div>
            <div class="form-group mb-3">
                <input
                    type="checkbox"
                    formControlName="acceptTerms"
                    class="form-check-input"
                    [ngClass]="{ 'is-invalid': signup_submitted && f_signup['acceptTerms'].errors }"
                />
                <label for="acceptTerms" class="form-check-label" style="margin-left: 5px;">
                    I have read and agree to the Terms
                </label>
                <div *ngIf="signup_submitted && f_signup['acceptTerms'].errors" class="invalid-feedback">
                    Please check the box before moving ahead
                </div>
            </div>
            
            <div class="row w-100 mx-auto">
                <button 
                    type="submit" 
                    class="btn btn-success"
                >SIGN UP</button>
            </div>
        </form>
    </div>
</div>







<!-- Login Error Modal -->
<div
  class="modal fade"
  id="exampleModalCenter"
  (click)="hideModal($event)"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
  [ngClass]="{ 'show': showLoginErrorModal, 'd-block': showLoginErrorModal }" 
>
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header d-flex justify-content-between">
<h5 class="modal-title" id="exampleModalLongTitle" *ngIf="loginError == 'Email Not Matched' || loginError == 'Password Not Matched'">Login Error</h5>
<h5 class="modal-title" id="exampleModalLongTitle" *ngIf="loginError != 'Email Not Matched' && loginError != 'Password Not Matched'">Registration Error</h5>
<button
          type="button"
          class="close"
          aria-label="Close"
          (click)="hideModal()"
>
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<!-- Display error message dynamically -->
<p>{{loginError}}</p>

</div>
<!-- <div class="modal-footer">
<button
          type="button"
          class="btn btn-secondary"
          (click)="hideModal()"
>
          Close
</button>
</div> -->
</div>
</div>
</div>
  
